/* ESERCIZIO 1 */
.ex-1-square:hover{
  background-color: red;
}
.ex-1-square{
  transition: 3s;
}

/* ESERCIZIO 2 */
.ex-2-square:active{
  width: 100%;
}
.ex-2-square{
  transition: 3s;
}

/* ESERCIZIO 3 */
.ex-3-square:hover{
  border-radius: 100%;
}
.ex-3-square{
  transition: 1s;
}

/* ESERCIZIO 4 */
.ex-4-square:hover{
  opacity: 0;
}
.ex-4-square{
  transition: 1s;
}

/* ESERCIZIO 5 */
.ex-5-square:hover{
  transform: scale(2);
}
.ex-5-square:active{
  transform: scale(0.5)
}
.ex-5-square{
  transition: 2s;
}

/* ESERCIZIO 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img:hover{
  filter: saturate(4) grayscale(0.8);
}
.ex-7-img{
  transition: 3s;
}

/* ESERCIZIO 8 */
.ex-8-img:hover{
  filter: grayscale(0.8) blur(2px);
  border-radius: 30px;
}
.ex-8-img{
  transition: 4s;
}

/* ESERCIZIO 9 */
.ex-9-img:hover{
  filter: grayscale(0.8) sepia(0.7);
  border-radius: 30px;
  transform: scale(1.5);
}
.ex-9-img{
  transition: 3s;
}

/* ESERCIZIO 10 */
.ex-10-icon{
  animation: turn360degrees 0.5s linear infinite;
}
@keyframes turn360degrees{
  0%{
    transform: rotate(1turn);
  }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover{
  animation: turn3-4 2s linear;
}
@keyframes turn3-4{
  0%{
    transform: rotate(0);
  }
  90%{
    transform: rotate(0.9turn);
  }
  100%{
    transform: rotate(0);
  }
}